DATABASE_URL="postgresql://username:password@host/db?sslmode=require"
REDIS_URL="rediss://default:token@host:port"
BETTER_AUTH_SECRET="your-auth-secret-here"
RESEND_API_KEY="re_your_api_key"
UPLOADTHING_SECRET="sk_live_your_uploadthing_secret"
APP_URL="http://localhost:3000"
FROM_EMAIL="onboarding@resend.dev" # Set to onboarding@resend.dev for sandbox testing, or your verified domain in production
